.modal-footer {
    padding-bottom: 0;
}
.modal-footer>.form-group {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
}

.modal-footer>button {
    margin-right: 20px;
}

.huge {
    font-size: 18px;
}

.panel-green {
    border-color: #383030;
}

.panel-green .panel-heading {
    border-color: #383030;
    color: #fff;
    background-color: #383030;
}

.panel-green a {
    color: #ffffff;
}

.panel-green a:hover {
    color: #241E1E;
}
.panel-green .panel-footer {
    background-color: #991605;
}

h1.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

#dropdown-menu-hito {
    right: 0px;
    background-color: #383030;
}

#dropdown-menu-hito > li > a {
    color: #fff;
    border-bottom: 1px solid;
    border-color: #fff;
}
