#page-content-wrapper {
    overflow: hidden;
    padding-left: 250px;
    transition: all 0.4s ease 0s;
    position: absolute;
    overflow: auto;
    margin-left:auto;
}

#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    position: fixed;
    min-height: 100%;
    overflow-y: auto;
    z-index: 1020;;
    /*transition: all 0.4s ease 0s;*/
}


.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width:767px) {

    #wrapper {
        //float:none !important;
        //        margin-left:0;
        padding-left: 0;
    }

    #sidebar-wrapper {
        display: inline-block;
        margin-top: 20px;
        width: 100%; 
        //left: 0;
    }
}
