.modal-footer {
    padding-bottom: 0;
}
.modal-footer>.form-group {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
}

.modal-footer>button {
    margin-right: 20px;
}

.huge {
    font-size: 18px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}
