body {
    background-color: #E9E9E9;
}

#wrapper {
    padding: 0;
}
#informacion {
    position: inline-block;
    float:left;
    width: 70%;
}

#blog-sidebar {
    position: inline-block;
    float: left;
    width: 30%;
}

.thumbnail img {
    border-radius: 100%;
    display: inline-block;
}
