body {
    background-color: #ffffff;
}

#wrapper {
    padding-left: 0;
}

.form-signin #registro {
    text-align: center;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
    border-radius: 5px;
}

#logo-recuperar {
    background:url(../img/forgot-password-icon.png) top left no-repeat;
    display: block;
    height: 16px;
    width: 16px;
    position: relative;
    float: right;
    margin: -40px 10px;
}

#registro {
    font-size: 16px;
}
