body {
    margin-top: 100px;
}

.breadcrumb {
    padding: 8px 0px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    .breadcrumb {
        padding: 8px 15px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding 0;
    background-color: #fff;
}

@media(min-width: 768px) {
    #wrapper {
        padding-left: 225px;
    }
    
    #page-wrapper {
        padding: 10px;
    }
}

.top-nav {
    padding: 0 5px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,.15);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

#sesiones {
    padding: 0;
}

#sesiones img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    border: 0px;
    border-style: solid;
    border-color: white;
}

#sesiones i {
    padding-top: 10px;
}

@media(min-width:768px) {
    #sesiones img {
        width: 48px;
        height: 48px;
    }
    .top-nav>li>a {
        padding: 15px 10px;
    }
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    list-style: none;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}
